:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  /* background-color: #000; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  width: 100vw;
  height: 100vh;
}


#calendar-24h_panel, .p-datepicker-header{
    background-color: rgb(18, 18, 18);
    color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 5px -3px, rgba(0, 0, 0, 0.14) 0px 8px 10px 1px, rgba(0, 0, 0, 0.12) 0px 3px 14px 2px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.12), rgba(255, 255, 255, 0.12));
    transform-origin: center top;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 4px;
    outline: 0px;

}
.p-datepicker-header{
  border-bottom: 1px solid #cccccc36 !important;
}

tbody tr td:not(.p-datepicker-today) span:not(.p-highlight):hover {
  background-color: rgba(144, 202, 249, 0.08);
}

.p-datepicker table td > span {
  color: #ccc;
}

.p-datepicker table td.p-datepicker-today > span {
  background-color: transparent;
  border: 1px solid rgb(144, 202, 249);
  color: #ccc;
}

.p-datepicker table td .p-highlight {
  background-color: rgb(144, 202, 249) !important;
  color: rgba(0, 0, 0, 0.87) !important;
}

.p-datepicker .p-timepicker{
  border-top: 1px solid #cccccc36 !important;
}

.p-hour-picker,.p-minute-picker,.p-second-picker span{
  color: #ccc;
}

.p-datepicker-month, .p-datepicker-year {
  color: #ccc;
  pointer-events: none;
}

.p-datepicker-month:hover{
  color: rgb(144, 202, 249);
}

.p-datepicker-year{
  opacity: 0.7;
}

[data-pc-section="incrementbutton"]:hover,[data-pc-section="decrementbutton"]:hover,[data-pc-section="previousbutton"]:hover,[data-pc-section="nextbutton"]:hover {
  background-color: rgba(144, 202, 249, 0.08);
}

[data-pc-section="incrementbutton"] svg, [data-pc-section="decrementbutton"] svg, [data-pc-section="previousbutton"] svg, [data-pc-section="nextbutton"] svg {
  color: #ccc;
}

.p-calendar:not(.p-calendar-disabled) > .p-inputtext{
  background: rgb(31 32 33);
  border-color:  #cccccc36;
  color: #ccc;
}

.p-calendar:not(.p-calendar-disabled).p-focus > .p-inputtext{
  box-shadow: 0 0 0 0.2rem rgba(144, 202, 249, 0.08);
    border-color: rgba(144, 202, 249, 0.08);
}



.loader {
  width: 28px;
  height: 28px;
  border: 3px solid #FFF;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
    content: '';  
  box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-bottom-color: rgb(144, 202, 249);
}
    
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 